.container {
  width: 60vw;
  height: 60vh;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  display: none; /* 初期状態では非表示 */
  position: fixed; /* 画面に固定 */
  z-index: 1; /* 他の要素より前面に表示 */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* コンテンツが多い場合はスクロール可能 */
  background-color: rgba(0, 0, 0, 0.4); /* 半透明の背景 */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  position: relative; /* closeボタンの配置基準 */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
